@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
    font-family: "Special Elite", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url(https://images.noob-club.ru/news/2019/11/i88tla57gr.jpg);
    background-size: 100%;
    /*размер фона*/
}

#game {
    background-color: rgb(255, 255, 255);
    /*цвет фона*/
    max-width: 600px;
    /*максимальная ширина*/
    max-height: 400px;
    /*Максимальная высота*/
    padding: 10px;
    /*Отступ внутри коробки*/
    margin: 40px auto;
    /*Отступ снаружи коробки*/
    border: 5px dashed brown;
    /*Задание рамки*/
}

#controls,
#stats,
#my-hero-stats {
    border: 2px solid rgb(184, 14, 14);
    padding: 10px;
    background-color: rgb(62, 106, 181);
    background-color: #90abcd;
    margin: 10px 0px;
    color: beige;
    /*Цвет текста*/
    font-size: 20px;
    /*Размер шрифта*/
}

span {
    margin: 0px 15px;
}

.stat {
    font-size: 40px;
}

.gold {
    background-image: url(img/Золото.webp);
    background-size: 100%;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.hp {
    background-image: url(img/Здоровье.webp);
    background-size: 100%;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.exp {
    background-image: url(img/Опыт.webp);
    background-size: 100%;
    display: inline-block;
    width: 40px;
    height: 40px;

}

.my-hero-name {}

#button1 {
    background-image: url(img/маазин.webp);
    background-size: 100%;
    width: 64px;
    height: 64px;
}

#button2 {
    background-image: url(img/атака.webp);
    background-size: 100%;
    width: 64px;
    height: 64px;
}

#button3 {
    background-image: url("img/Book.jpg");
    background-size: 100%;
    width: 64px;
    height: 64px;
}

#enemiesBook {
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 600px;
    padding: 10px;
    margin: 40px auto;
    border: 5px dashed brown;
    display: none;
    font-size: 30px;
    position: absolute;
    overflow-y: scroll;
    top: 0%;
    left: 17%;
}

.enemies-card {
    background-size: 100%;
    margin: 20px auto;
    display: flex;
}

.enemies-card-description {
    display: flex;
    flex-direction: column;
}

.enemies-card-description h2 {
    margin: 5px;
}

#enemies-img-and-text img {
    width: 180px;
    height: 320px;
}

.enemy-description {
    font-family: "Special Elite", serif;
    font-weight: 400;
    font-style: normal;
}

#enemiesBook img {
    width: 180px;
    height: 320px;
}

#menu {
    width: 70px;
    height: 30px;
    background-size: 100%;
}

/* #monsterStats { */
/* display: none; */
/* } */

#shopgan {
    background-color: rgb(255, 255, 255);
    /*цвет фона*/
    width: 420px;
    /*максимальная ширина*/
    height: 250px;
    /*Максимальная высота*/
    padding: 10px;
    margin: 40px auto;
    border: 5px dashed brown;
    display: none;
    font-size: 30px;
}

#enemies {
    background-color: rgb(255, 255, 255);
    /*цвет фона*/
    width: 550px;
    /*максимальная ширина*/
    height: 240px;
    /*Максимальная высота*/
    padding: 10px;
    margin: 40px auto;
    border: 5px dashed brown;
    display: none;
    font-size: 30px;
}

#enemies button {
    background-size: 100%;
    width: 64px;
    height: 64px;
}

#enemies-box div {
    display: flex;
    font-size: 16px;
    flex-direction: column;
    align-items: center;
    width: 90px;
}

#enemies-box {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    justify-content: space-evenly;
}

#gun-box div {
    display: flex;
    font-size: 16px;
    flex-direction: column;
    align-items: center;
}

#gun-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#shopgan button {
    width: 64px;
    height: 64px;
}

#start-fight {
    background-color: rgb(255, 255, 255);
    height: 90vh;
    padding: 10px;
    margin: 40px auto;
    border: 5px dashed brown;
    display: none;
    font-size: 30px;
    position: absolute;
    top: 45%;
    left: 50%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transform: translate(-50%, -50%);
}

#me-and-enemy button {
    width: 50vh;
    height: 80vh;
    background-size: 100%;
}

#play,
#back {
    width: 70px;
    height: 30px;
    background-size: 100%;
}

#me-and-enemy {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 100px;
}

#play-and-back {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#start-game {
    background-color: rgb(113, 76, 171);
    width: 600px;
    padding: 10px;
    margin: 40px auto;
    border: 5px dashed brown;
    display: block;
    font-size: 30px;
    position: absolute;
    top: 30%;
    left: 50%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transform: translate(-50%, -50%);
}

#my-name {
    display: block;
    justify-content: flex-start;
    width: 400px;
    padding: 10px;
    margin: 10px auto;
    font-size: 30px;
    text-align: center;
}

#my-hero {
    width: 600px;
    padding: 10px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    font-size: 30px;
}

#save-my-stats {
    width: 600px;
    height: 30px;
    padding: 10px;
    margin-top: 40px auto;
    display: flex;
    font-size: 30px;
    justify-content: end;
}

.my-hero-card {
    background-size: 100%;
    width: 145px;
    /* height: 160px; */
    /* margin: 40px auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-hero-card img:hover {
    outline: 5px solid red;
    outline-offset: -5px;
}

#my-hero img {
    width: 100px;
    height: 176px;
    transition: 0.5s;
}

#title {
    margin: 0px;
}

#save {
    background-image: url(img/Ready.png);
    width: 70px;
    height: 30px;
    background-size: 100%;
    margin-right: 10px;
    margin-bottom: 0px;
}